.ext{
    display: flex;
    flex-direction: column;

}
.ext-container1 {
    height: 56rem;
    width: 56rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.ext-container2 {
    height: 56rem;
    width: 56rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.ext-container3 {
    height: 56rem;
    width: 56rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.ext-container4 {
    height: 56rem;
    width: 56rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.ext-container5 {
    height: 56rem;
    width: 56rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.ext-container6 {
    height: 56rem;
    width: 56rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.ext-container7 {
    height: 56rem;
    width: 56rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.ext-container8 {
    height: 56rem;
    width: 56rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}