:root {
    --primary-color: #C5D9D9
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
.nav-logo {
    display: flex;
    justify-content: start;
    background-color: black;
    width: 100vw;
    height: 9vh;
}
.nav-logo-link {
    margin: auto 0;   
}
.nav-logo-img {
    margin: auto 0;
    height: 4rem;
    width: 24rem;
    padding: 0rem;
    padding-left: 2.5rem;
}
.retratos,
.retratos1,
.retratos3,
.retratos4,
.retratos5,
.retratos6,
.retratos7,
.retratos8,
.retratos9{
    background-color: black ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.retratos-container1 {
    height: 28rem;
    width: 28rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.retratos-container2 {
    height: 28rem;
    width: 28rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.retratos-container3 {
    height: 28rem;
    width: 28rem;
    margin-top: 1rem;
    margin-bottom: 8rem;
}
.retratos-container-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.retratos2h {
    background-color: black ;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

/* HORIZONTAL */

.retratos-container1h {
    height: 30rem;
    width: 25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.retratos-container2h {
    height: 30rem;
    width: 25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.retratos-container3h {
    height: 30rem;
    width: 25rem;
    margin-top: 1rem;
    margin-bottom: 8rem;
}
.retratos-container-imgh {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Exepciones */

.retratos-container-img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    bottom: 20px;
    }