.section1-figure {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80rem;
}
.section1-titulo1 {
    font-size: 4rem;
}
.section1-texto p {
    font-size: 2.5rem;
}

.section1-boton1 {
    font-size: 2.5rem;
    color:black;
    padding: 10 3.5rem;
}
.section2-figure {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80rem;
}
.section2-titulo2 {
    font-size: 4rem;
}
.section2-texto p {
    font-size: 2.5rem;
}

.section2-boton2 {
    font-size: 2.5rem;
    color:black;
    padding: 10 3.5rem;
}
.section3-figure {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80rem;
}
.section3-titulo3 {
    font-size: 4rem;
}
.section3-texto p {
    font-size: 2.5rem;
}

.section3-boton3 {
    font-size: 2.5rem;
    color:black;
    padding: 10 3.5rem;
}
.section4-figure {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80rem;
}
.section4-titulo4 {
    font-size: 4rem;
}
.section4-texto p {
    font-size: 2.5rem;
}

.section4-boton4 {
    font-size: 2.5rem;
    color:black;
    padding: 10 3.5rem;
}